<div class="footer">
    <div class="footer-inner">
        <div class="footer-content">
            <span class="bigger-120">
                Copyright
                 &copy; <span class="blue bolder">Manager Systems @DateTime.Today.Year</span> 
            </span>
        </div>
    </div>
</div>