
    
        <div id="main_scroller" class="scroll_transition">
            <div id="content" data-url-back="/home/list-category/hotel-photography-9" data-current="lifestyle_detail" data-controller="panel_detail" class="scroll_transition subpanel">
                <div id="section_scroller" class="disabled" style="display: none;">
                    <div id="section_scroller_container" class="scroll_transition forced transform_only" style="width: 2560px; transform: translate(-400px, 0px) translateZ(0px);">
                        <div class="section_panel intro has_transition_1500 transform_only">
                            <div class="loading_cover has_transition_1000_inout_quint"></div>
                            <div class="panel_start has_transition_800"></div>
                            <div class="panel_intro">
                                <div class="subsection_num">
                                    <img src="/Template/images/1_2.png" />
                                </div>

                                <div class="no_overflow">
                                    <h1 class="panel_section_title list-panel_section_title  has_transition_1000 top_hidden">Hotel Photography</h1>
                                </div>
                                <div class="no_overflow">
                                    <h2 class="panel_section_subtitle has_transition_1000 top_hidden">Elegance from the inside out</h2>
                                </div>
                                <div class="panel_section_text_container top_translated has_transition_2000">
                                    <p class="panel_section_text"><p style="text-align:justify">
                                        <span style="font-size:18px"><span style="color:#ecf0f1"><span style="font-family:Arial,Helvetica,sans-serif">In this digital-first world, the travellers often use the photos to see if a hotel matches their desired &ldquo;Look and Feel&rdquo; for a property. Just one glance, the artsy, elegant and eye-catching pictures do make the difference. Because the first impression of viewers is, generally, could be their last impression. </span></span></span><br />
                                        <br />
                                        <span style="font-size:18px"><span style="color:#ecf0f1"><span style="font-family:Arial,Helvetica,sans-serif">As an effect, in Hotel Photography, every single detail should be thoughtfully focused and the shots need to create a feeling and connect expressing what kinds of experience that travellers will have during their stay in the hotels. </span></span></span><br />
                                        <br />
                                        <span style="font-size:18px"><span style="color:#ecf0f1"><span style="font-family:Arial,Helvetica,sans-serif">By staying focus on the hotels&rsquo; values and on what is most important to your brand, we do not shoot what the things look like but what they feel like. </span></span></span>
                                    </p>
                                    </p>
                                    <div id="section_text_scrollbar" class="menu_panel_scrollbar">
                                        <div class="pointer has_transition_1000"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="panel_separator">
                                <div class="line_1 has_transition_1500"></div>
                                <div class="line_2 has_transition_1500"></div>
                            </div>
                            <div class="swipe_ad mobile_only">
                                <div class="no_overflow">
                                    <p class="controller_text top_hidden has_transition_1000 clswipe">swipe</p>
                                </div>
                                <div class="circle_button right ">
                                    <div class="back hidden_by_scaling_full has_transition_1000 transform_all"></div>
                                    <div class="arrow hidden has_transition_800">
                                        <span class="fadeOutRight">
                                            <img src="/Template/images/tiny_arrow.png" style="margin-top: 15px;" />
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <a style="display:none" href="/home" class="section_panel has_transition_1500 transform_only " rel="wellness"><div class="section_panel_title"><h1>Home</h1></div></a>
                        <a href="/home/category/introduction-25" class="section_panel has_transition_1500 transform_only active " rel="wellness">
                            <div class="loading_cover has_transition_1000_inout_quint"></div>
                            <div class="section_pic has_transition_1000_inout_quint scaled_full">
                                <div class="section_veil has_transition_800"></div>
                                <img class="scroll_transition pic1" src="https://lamos.vn/fileUpload/195/195_3KBaoIRxPkWhC0xyYPeWug_853.jpg" />


                            </div>
                            <div class="info has_transition_1500 top_double">
                                <div class="num_back has_transition_1500_inout"></div>
                                <img class="section_triangle full_width" src="/Template/images/1_1.png" style="visibility:hidden" />

                                <div class="info_data has_transition_1500_inout">
                                    <div class="section_panel_title"><h1>Introduction</h1></div>
                                    <div class="section_separator">
                                        <div class="pointer"></div>
                                    </div>
                                    <div class="section_subtitle"><h2></h2></div>
                                </div>
                            </div>
                            <div class="details has_transition_600_quint no_opacity">
                                <div class="info_details">
                                    <div class="panel_detail">
                                        <div class="no_overflow">
                                            <p class="det_num top_hidden has_transition_1500">&nbsp;</p>
                                        </div>

                                        <div class="no_overflow">
                                            <div class="det_white top_hidden has_transition_1000"> Why great photography should be the key of your hotel’s success? </div>
                                        </div>
                                    </div>
                                    <div class="panel_detail">
                                        <div class="no_overflow">
                                            <p class="det_black top_hidden has_transition_1000"></p>
                                        </div>
                                        <div class="no_overflow">
                                            <div class="det_white top_hidden has_transition_1000"></div>
                                        </div>
                                    </div>
                                    <div class="instructions mobile_only">
                                        <p class="clTap">tap to enter or swipe to move</p>
                                    </div>
                                </div>
                            </div>
                            <div class="panel_separator">
                                <div class="line_1 has_transition_1500"></div>
                                <div class="line_2 has_transition_1500"></div>
                            </div>
                        </a>
                        <a href="/home/category/hotel-27" class="section_panel has_transition_1500 transform_only  " rel="wellness">
                            <div class="loading_cover has_transition_1000_inout_quint"></div>
                            <div class="section_pic has_transition_1000_inout_quint scaled_full">
                                <div class="section_veil has_transition_800"></div>
                                <img class="scroll_transition pic1" src="https://lamos.vn/fileUpload/195/195_4AWWlPqFw0KS1PLkePCrUQ_853.jpg" />


                            </div>
                            <div class="info has_transition_1500 top_double">
                                <div class="num_back has_transition_1500_inout"></div>
                                <img class="section_triangle full_width" src="/Template/images/1_1.png" style="visibility:hidden" />

                                <div class="info_data has_transition_1500_inout">
                                    <div class="section_panel_title"><h1>Hotel</h1></div>
                                    <div class="section_separator">
                                        <div class="pointer"></div>
                                    </div>
                                    <div class="section_subtitle"><h2></h2></div>
                                </div>
                            </div>
                            <div class="details has_transition_600_quint no_opacity">
                                <div class="info_details">
                                    <div class="panel_detail">
                                        <div class="no_overflow">
                                            <p class="det_num top_hidden has_transition_1500">&nbsp;</p>
                                        </div>

                                        <div class="no_overflow">
                                            <div class="det_white top_hidden has_transition_1000"> The travelers often use the photos to see if a hotel matches their desired “Look and Feel” for a property. </div>
                                        </div>
                                    </div>
                                    <div class="panel_detail">
                                        <div class="no_overflow">
                                            <p class="det_black top_hidden has_transition_1000"></p>
                                        </div>
                                        <div class="no_overflow">
                                            <div class="det_white top_hidden has_transition_1000"></div>
                                        </div>
                                    </div>
                                    <div class="instructions mobile_only">
                                        <p class="clTap">tap to enter or swipe to move</p>
                                    </div>
                                </div>
                            </div>
                            <div class="panel_separator">
                                <div class="line_1 has_transition_1500"></div>
                                <div class="line_2 has_transition_1500"></div>
                            </div>
                        </a>
                        <a href="/home/category/resort-29" class="section_panel has_transition_1500 transform_only  " rel="wellness">
                            <div class="loading_cover has_transition_1000_inout_quint"></div>
                            <div class="section_pic has_transition_1000_inout_quint scaled_full">
                                <div class="section_veil has_transition_800"></div>
                                <img class="scroll_transition pic1" src="https://lamos.vn/fileUpload/205/205_qOSWvF2mBkObeMJD91hhLw_853.jpg" />


                            </div>
                            <div class="info has_transition_1500 top_double">
                                <div class="num_back has_transition_1500_inout"></div>
                                <img class="section_triangle full_width" src="/Template/images/1_1.png" style="visibility:hidden" />

                                <div class="info_data has_transition_1500_inout">
                                    <div class="section_panel_title"><h1>Resort</h1></div>
                                    <div class="section_separator">
                                        <div class="pointer"></div>
                                    </div>
                                    <div class="section_subtitle"><h2></h2></div>
                                </div>
                            </div>
                            <div class="details has_transition_600_quint no_opacity">
                                <div class="info_details">
                                    <div class="panel_detail">
                                        <div class="no_overflow">
                                            <p class="det_num top_hidden has_transition_1500">&nbsp;</p>
                                        </div>

                                        <div class="no_overflow">
                                            <div class="det_white top_hidden has_transition_1000"> </div>
                                        </div>
                                    </div>
                                    <div class="panel_detail">
                                        <div class="no_overflow">
                                            <p class="det_black top_hidden has_transition_1000"></p>
                                        </div>
                                        <div class="no_overflow">
                                            <div class="det_white top_hidden has_transition_1000"></div>
                                        </div>
                                    </div>
                                    <div class="instructions mobile_only">
                                        <p class="clTap">tap to enter or swipe to move</p>
                                    </div>
                                </div>
                            </div>
                            <div class="panel_separator">
                                <div class="line_1 has_transition_1500"></div>
                                <div class="line_2 has_transition_1500"></div>
                            </div>
                        </a>

                        <a style="display:none" href="/home" class="section_panel has_transition_1500 transform_only" rel="wellness"><div class="section_panel_title"><h1>Home</h1></div></a>

                    </div>

                    <div id="panel_controls" class="has_transition_1000 transform_only">
                        <div class="prev has_transition_1000 transform_only hidden">
                            <div class="panel_back has_transition_1000"></div>
                            <div class="panel_circle has_transition_1000">
                                <img class="has_transition_1000" src="/Template/images/left_arrow.png">
                            </div>
                            <p class="panel_text has_transition_1000 clBack">Back</p>

                        </div>
                        <div class="menu has_transition_1000 transform_only">
                            <div class="panel_back has_transition_1000"></div>
                            <div id="ca_home">
                                <img class="has_transition_600 transform_all" width="28" style="opacity: 0.5;" src="/Template/images/logo-soi.png" />
                            </div>

                            <div class="menu_panel_controller menu_controller has_transition_800" style="color: #ffffff;">
                                <div class="burger__iJR12 loaded__2RjjS burger__mobile">

                                    <div class="_1 has_transition_800 one__3bfvM" style="background: #ffffff!important;"></div>
                                    <div class="_2 has_transition_800 two__37U_E" style="background: #ffffff!important;"></div>
                                    <div class="_3 has_transition_800 three__3fk-_" style="background: #ffffff!important;"></div>

                                </div>
                            </div>
                        </div>
                        <div class="next has_transition_1000 transform_only hidden">
                            <div class="panel_back has_transition_1000"></div>
                            <div class="panel_circle has_transition_1000">
                                <img class="has_transition_1000" src="/Template/images/right_arrow.png">
                            </div>
                            <p class="panel_text has_transition_1000 clNext">Next</p>
                        </div>
                    </div>


                    <input type="hidden" id="hdNameMenu" value="/home/list-category/food-beverage-photography-11" />
                </div>
                <div id="section_animation" class="has_transition_1500_quint no_transition">
                    <div class="section_panel" rel="modern-art">
                        <div class="section_pic first_run">
                            <img class="scroll_transition" src="https://lamos.vn/fileUpload/195/195_3KBaoIRxPkWhC0xyYPeWug_853.jpg">
                        </div>
                    </div>
                    <div id="head_content" class="has_transition_1000_inout">
                        <div class="back_1 no_width reverse has_transition_1000_inout"></div>
                        <div class="back_2 no_width reverse has_transition_1000_inout"></div>

                        <div class="panel_name has_date subsection has_transition_1000_inout">
                            <div class="name_body">


                                <div class="panel_intro">
                                    <div class="subsection_num">

                                        <span class="number1 cusnumber">
                                            <span class="dark top_double has_transition_1500">
                                                I                                                    .
                                            </span>



                                        </span>


                                        <span class="number2">
                                            <span class="dark top_double has_transition_1500">

                                                1
                                            </span>
                                        </span>
                                    </div>

                                    <div class="no_overflow">
                                        <h1 class="panel_section_title has_transition_1000">Introduction</h1>
                                    </div>


                                </div>




                            </div>
                        </div>

                    </div>
                </div>
                <div id="section_content">
                    <div class="row">
                        <div class="paragraph_details">
                            <div class="p_detail">
                                Why great photography should be the key of your hotel’s success?
                            </div>
                        </div>
                        <div class="paragraph first">
                            <div class="no_overflow">
                                <h1 class="big_title top_hidden has_transition_1000"></h1>
                            </div>
                            <div class="no_overflow big_subtitle ">
                                <h2 class="big_subtitle top_hidden has_transition_1000"></h2>
                            </div>
                            <p class="body_text two_col top_translated has_transition_2000">


                            </p>
                            <div class="no_overflow" style="width: 85%;">
                                <p style="text-align:justify">
                                    <span style="font-size:20px"><span style="font-family:Arial,Helvetica,sans-serif">Because with an <em><strong>&ldquo;elegant touch of vision&rdquo;</strong></em>, the lookers can become bookers!</span></span><br />
                                    <br />
                                    <span style="font-size:18px"><span style="font-family:Arial,Helvetica,sans-serif">In an increasingly visual world, it might not be an exaggeration to say &ldquo;A picture can speak a thousand words&rdquo;. Each picture tells us different stories and through the details and light, the &ldquo;hidden messages&rdquo; sending to viewers will be revealed.</span></span><br />
                                    <br />
                                    <span style="font-size:18px"><span style="font-family:Arial,Helvetica,sans-serif">If you want your business to rise above the competition and become the go-to hotel for travellers in your city, give us a chance to support your development. Let us be a part of your brand voice to tell your customers who you truly are. </span></span>
                                </p>

                            </div>
                        </div>
                    </div>
                    <div class="row animated flexed grey first">
                        <div class="pic_75 covered">

                            <div class="cover grey hidden has_transition_1500_inout"></div>
                            <a href="#">
                                <img class="full_width content hidden has_transition_1500_inout" src="https://lamos.vn/fileUpload/195/195_U7feBITm-k-5a_Zukd7ZHA_19201280.jpg" />
                            </a>
                        </div>
                        <div class="block_25 flexed grey">
                            <div class="diagonal_line hidden has_transition_1000_inout mobile_hidden">
                                <div class="_1"></div>
                                <div class="_2"></div>
                            </div>
                            <div class="usable_size">
                                <div class="block_title">
                                    <div class="no_overflow">
                                        <p class="desc_title top_hidden has_transition_1500">How the hotel positions itself to the potential customers?</p>
                                    </div>
                                    <div class="no_overflow">
                                        <p class="desc_text top_hidden has_transition_1500"></p>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="row animated flexed switch">
                        <div class="pic_66 relative">
                            <div class="grey_box">
                                <a href="#" style="width: 85%;">
                                    <p class="des_tt desc_title top_hidden has_transition_1000" style="font-size: 40px;margin-bottom: 200px;">
                                        How can the hotel convey quality?

                                    <p>
                                </a>
                                <div class="horizontal_line no_width has_transition_1000_inout mobile_hidden">
                                    <div class="_1"></div>
                                    <div class="_2"></div>
                                </div>
                            </div>
                        </div>
                        <div class="block_33 covered">
                            <div class="cover white hidden has_transition_1500_inout"></div>
                            <a href="#">
                                <img class="full_width content hidden has_transition_1500_inout" src="https://lamos.vn/fileUpload/195/195_bV0ISw0WrU6uqwoGlSmRZA_455683.jpg" />
                            </a>
                        </div>
                    </div>
                    <div class="row animated flexed switch">
                        <div class="block_33 flexed centered">
                            <div class="block_title">
                                <div class="diagonal_line mobile_hidden">
                                    <div class="_1"></div>
                                </div>
                                <a href="#">
                                    <div class="no_overflow">

                                        <p class="desc_title giant top_hidden has_transition_1500">How can the hotel express uniqueness?</p>
                                    </div>
                                </a>
                            </div>

                        </div>
                        <div class="pic_66 covered">
                            <div class="cover white hidden has_transition_1500_inout"></div>
                            <img class="full_width content hidden has_transition_1500_inout" src="https://lamos.vn/fileUpload/195/195__5va33ia9UODQE-Xnp_VOg_19201280.jpg" />
                        </div>
                    </div>



                    <div class="row">
                        <div id="fullscreen_gallery">
                            <div class="gallery_borders">
                                <div class="top"></div>
                                <div class="bottom"></div>
                                <div class="left"></div>
                                <div class="right"></div>
                            </div>
                            <div class="gallery_slider">
                                <div class="pic_big has_transition_1500 active">
                                    <img src="https://lamos.vn/fileUpload/195/195_YxG1bOzGu02W4ZVxmC_Lpw_853.jpg" />
                                </div>
                                <div class="pic_big has_transition_1500">
                                    <img src="https://lamos.vn/fileUpload/195/195_NuGpT7IbiUO32xx3OdLihQ_853.jpg" />
                                </div>
                                <div class="pic_big has_transition_1500">
                                    <img src="https://lamos.vn/fileUpload/195/195_U7feBITm-k-5a_Zukd7ZHA_853.jpg" />
                                </div>
                                <div class="pic_big has_transition_1500">
                                    <img src="https://lamos.vn/fileUpload/195/195_bV0ISw0WrU6uqwoGlSmRZA_853.jpg" />
                                </div>
                                <div class="pic_big has_transition_1500">
                                    <img src="https://lamos.vn/fileUpload/195/195__5va33ia9UODQE-Xnp_VOg_853.jpg" />
                                </div>

                            </div>
                            <div class="gallery_controller">
                                <div class="button_right has_transition_800">
                                    <div class="circle has_transition_1000"><img class="has_transition_1000" src="/Template/images/white_right_arrow.png" /></div>
                                </div>
                                <div class="button_left has_transition_800">
                                    <div class="circle has_transition_1000"><img class="has_transition_1000" src="/Template/images/white_left_arrow.png" /></div>
                                </div>
                                <div class="button_down has_transition_800">
                                    <div class="circle has_transition_1000"><img class="has_transition_1000" src="/Template/images/white_right_arrow.png" /></div>
                                </div>
                            </div>
                            <div class="numbers">
                                <p class="counter">1</p>
                                <div class="gallery_diagonal"></div>
                                <p class="total">5<p>
                            </div>
                            <div class="advice">
                                <img width=20 src="/Template/images/rotate.png" />
                                <p>
                                    rotate for <br />fullscreen gallery
                                </p>
                            </div>
                        </div>
                    </div>


                </div>

            </div>


            <div id="footer" class="mobile_hidden">
                <div class="sitemap_button">
                    <div class="sitemap_block flexed">
                        <div id="socials">
                            <div id="social_container">
                                <a target="_blank" href="https://www.facebook.com/LamosPhotography/" class="social_ico">
                                    <img src="/Template/images/fb.png">
                                </a>
                                <a target="_blank" href="" class="social_ico">
                                    <img src="/Template/images/youtube.png">
                                </a>
                                <a target="_blank" href="https://www.instagram.com/lamosltd/" class="social_ico">
                                    <img src="/Template/images/instagram.png">
                                </a>
                                <a target="_blank" href="https://www.pinterest.com/lamosltd1313/" class="social_ico">
                                    <img src="/Template/images/pinterest.png">
                                </a>
                                <a target="_blank" href="" class="social_ico">
                                    <img src="/Template/images/behance.png">
                                </a>
                            </div>

                        </div>
                        <div class="logo_plus">
                            <img src="/Template/images/logo-footer.png" style="width: 125px;">
                        </div>

                    </div>

                </div>
                <div id="footer_panel">

                    <div id="footer_base">
                        <div style="background: #EAEAEC; width: 5%;"> </div>
                        <img src="/Template/images/footer_base.png" height="480">

                        <div id="footer_base_content">
                            <div class="no_overflow footer_logo">
                                <img src="/Template/images/logo2.png">
                            </div>

                        </div>

                    </div>
                </div>
            </div>
            <div id="partners" class="mobile_hidden">
                <div class="footer_text">
                    <p><i class="fa fa-map-marker-alt"></i><span class="address">Ho Chi Minh City, Viet Nam</span></p>
                    <p><i class="fa fa-mobile-alt"></i><span> (+84) 931.80.1313</span></p>
                    <p><i class="fa fa-envelope"></i><a style="padding-top: 4px;" href="mailto:service@lamos.vn">service@lamos.vn</a></p>

                </div>
                <div class="owl-carousel">

                    <div class="item">

                        <img alt="Partner 1" src="https://lamos.vn/fileUpload/66/66_unSB3eTr4EGAd8V1IDstrQ_240100.jpg" />
                    </div>
                    <div class="item">

                        <img alt="Partner 2" src="https://lamos.vn/fileUpload/66/66_E4UL__XyKkymNxzRldAZMw_240100.jpg" />
                    </div>
                    <div class="item">

                        <img alt="Partner 3" src="https://lamos.vn/fileUpload/66/66_tiNUawKPPE-NqtY6Wt5QkA_240100.jpg" />
                    </div>
                    <div class="item">

                        <img alt="Partner 3" src="https://lamos.vn/fileUpload/66/66_rCQDrSnIj0iBYZu3fYMaMA_240100.jpg" />
                    </div>
                    <div class="item">

                        <img alt="Partner 3" src="https://lamos.vn/fileUpload/66/66_unSB3eTr4EGAd8V1IDstrQ_240100.jpg" />
                    </div>
                    <div class="item">

                        <img alt="Partner 3" src="https://lamos.vn/fileUpload/66/66_unSB3eTr4EGAd8V1IDstrQ_240100.jpg" />
                    </div>

                </div>

            </div>
            <div class="no_overflow copy mobile_hidden">
                <p class="clCopyright">
                    <span style="font-family: Geometria">©</span> Copyright 2019 Lamos Artistic Advertising <span style="opacity: 0.5">|</span> All rights reserved
                </p>
            </div>
            <div id="footer_mobile" class="mobile_only">
                <div class="row">
                    <div id="socials_mobile">
                        <p class="desc_text langFollow">follow us</p>
                        <div id="social_container">
                            <a target="_blank" href="https://www.facebook.com/LamosPhotography/" class="social_ico">
                                <img src="/Template/images/fb.png">
                            </a>
                            <a target="_blank" href="" class="social_ico">
                                <img src="/Template/images/youtube.png">
                            </a>
                            <a target="_blank" href="https://www.instagram.com/lamosltd/" class="social_ico">
                                <img src="/Template/images/instagram.png">
                            </a>
                            <a target="_blank" href="https://www.pinterest.com/lamosltd1313/" class="social_ico">
                                <img src="/Template/images/pinterest.png">
                            </a>
                            <a target="_blank" href="" class="social_ico">
                                <img src="/Template/images/behance.png">
                            </a>
                        </div>
                    </div>
                    <div class="footer_logo">
                        <img src="/Template/images/logo.png">
                    </div>
                    <div id="partners" class="mobile_only owl-carousel">

                        <img alt="Partner 1" src="https://lamos.vn/fileUpload/66/66_unSB3eTr4EGAd8V1IDstrQ_853.jpg" />
                        <img alt="Partner 2" src="https://lamos.vn/fileUpload/66/66_E4UL__XyKkymNxzRldAZMw_853.jpg" />
                        <img alt="Partner 3" src="https://lamos.vn/fileUpload/66/66_tiNUawKPPE-NqtY6Wt5QkA_853.jpg" />
                        <img alt="Partner 3" src="https://lamos.vn/fileUpload/66/66_rCQDrSnIj0iBYZu3fYMaMA_853.jpg" />
                        <img alt="Partner 3" src="https://lamos.vn/fileUpload/66/66_unSB3eTr4EGAd8V1IDstrQ_853.jpg" />
                        <img alt="Partner 3" src="https://lamos.vn/fileUpload/66/66_unSB3eTr4EGAd8V1IDstrQ_853.jpg" />

                    </div>
                    <div class="footer_text" style="padding-left: 20%;">
                        <p><i class="fa fa-map-marker-alt"></i><span>Ho Chi Minh City, Viet Nam</span></p>
                        <p><i class="fa fa-mobile-alt"></i><a href="tel:(+84) 931.80.1313"><span> (+84) 931.80.1313</span></a></p>
                        <p><i class="fa fa-envelope"></i><a href="mailto:service@lamos.vn">service@lamos.vn</a></p>



                    </div>


                    <p class="mobile_copy clCopyright"><span style="font-family: Geometria">©</span> Copyright 2019 Lamos Artistic Advertising<span class="smaller">All rights reserved</span></p>

            </div>
        </div>
        <div id="scroll_down" class="has_transition_1000 hidden-xs mobile_hidden">
            <div class="mouse mouse-bottom" id="btnBackToTop"></div>
        </div>


        <style>
            .footer_text p i {
                margin-top: 5px;
            }

            .footer_text a {
                font-size: 13px;
            }

            .footer_text p span {
                line-height: 20px;
                font-size: 13px;
                padding-top: 4px;
            }
        </style>


        </div>
        <input type="hidden" id="hdAction" value="DetailCategoy" />



   

<script>

    function LoadDetail(id) {
        // Gửi Ajax
        var url = '/Home/_pLoadDetail/';
        $.get(url + (url.indexOf("?") > -1 ? "&" : "?") + '&id=' + id, function (data) {
            $('#main').html(data);
        });
    }
</script>