@{
    ViewBag.Title = "Contact";
}

<div id="main">
    <div id="main_scroller" class="scroll_transition">
        <div id="content" data-current="contacts" data-controller="page" class="scroll_transition">
            <div id="section_animation" class="has_transition_1500_quint no_transition grey">
                <div class="section_panel" rel="contacts">
                    <div class="section_pic first_run">
                        <img class="scroll_transition mobile_hidden" src="~/Template/images/bm3a8577_2400x1350_dbb00c440cd7510d5362b9d246e53bf8.jpg">
                        <img class="scroll_transition mobile_only" src="~/Template/images/bm3a8577_1600_74968c7b9fd88dbc1f24d5df349782db.jpg">

                    </div>
                    <div class="info has_transition_1500 mobile_only top_translated">
                        <div class="num_back has_transition_1500_inout"></div>
                        <img class="section_triangle full_width" src="~/Template/images/1_1.png">
                        <div class="info_data has_transition_1500_inout">
                            <div class="section_panel_title"><h1>Contacts</h1></div>
                            <div class="section_subtitle"><h2></h2></div>
                        </div>
                    </div>
                </div>
                <div id="head_content" class="has_transition_1000_inout">
                    <div class="back_1 no_width reverse has_transition_1000_inout"></div>
                    <div class="back_2 no_width reverse has_transition_1000_inout"></div>

                    <div class="panel_name subsection contacts">
                        <div class="name_body">
                            <div class="separator hidden has_transition_1500"></div>
                            <div class="no_overflow top_container">
                                <p class="section_top top_hidden has_transition_1200">Contacts</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="section_content">
                <div class="row content">
                    <div class="paragraph_details">
                        <div class="p_detail">
                        </div>
                        <div class="p_detail">
                        </div>
                    </div>
                    <div class="paragraph first">
                        <div class="no_overflow">
                            <h1 class="big_title top_hidden has_transition_1000">Stay</h1>
                        </div>
                        <div class="no_overflow big_subtitle ">
                            <h2 class="big_subtitle top_hidden has_transition_1000">in Touch.</h2>
                        </div>
                        <p class="body_text two_col top_translated has_transition_2000">Got a question about a room or an event? Need a reservation at Un Piano Nel Cielo? Want to know more about weddings at Casa Angelina? Want to write to our chef? Get in touch with our team, who will be happy to help you with your query.<br /><br /><br /> CASA ANGELINA LIFESTYLE <br /> Via Capriglione, 147 - 84010 Praiano - Amalfi Coast, SA - ITALY<br /> ph +39 089 8131333 - fax +39 089 874266</p>

                    </div>
                </div>


                <div class="row emails flexed first">
                    <div class="block_33 grey flexed bottom">

                    </div>
                    <div class="block_42 grey covered">
                        <p class="closing no_padding ">
                            <span class="top_double has_transition_1500">SALES MARKETING: <a href="mailto:sales@casangelina.com">sales@casangelina.com</a><br /><br /></span>
                            <span class="top_double has_transition_1500">RESERVATIONS & EVENTS: <a href="mailto:reservations@casangelina.com">reservations@casangelina.com</a><br /><br /></span>
                            <span class="top_double has_transition_1500">UN PIANO NEL CIELO RESTAURANT: <a href="mailto:fbmanager@casangelina.com">fbmanager@casangelina.com</a><br /><br /></span>
                            <span class="top_double has_transition_1500">EXECUTIVE CHEF: <a href="mailto:chef@casangelina.com">chef@casangelina.com</a><br /><br /></span>
                            <span class="top_double has_transition_1500">CONCIERGE DESK: <a href="mailto:concierge@casangelina.com">concierge@casangelina.com</a><br /><br /></span>
                            <span class="top_double has_transition_1500">FRONT DESK: <a href="mailto:frontdesk@casangelina.com">frontdesk@casangelina.com</a><br /><br /></span>
                            <span class="top_double has_transition_1500">ACCOUNTING: <a href="mailto:aesposito@casangelina.com">aesposito@casangelina.com</a><br /><br /></span>
                            <span class="top_double has_transition_1500">OTHER INFO: <a href="mailto:info@casangelina.com">info@casangelina.com</a></span>

                        </p>
                    </div>
                    <div class="block_25 flexed">
                        <div class="diagonal_line hidden has_transition_1500_inout">
                            <div class="_1"></div>
                            <div class="_2"></div>
                        </div>
                        <div class="usable_size">
                            <div class="block_title reversed"><div class="no_overflow"><p class="desc_title top_hidden has_transition_1500">WRITE US</p></div></div>
                        </div>

                    </div>

                </div>

            </div>
        </div>			
        

        @Html.Partial("Partial/_pFooter")
    </div>
</div>
