<div id="menu_side" class="mobile_hidden hidden has_transition_1500">
    <div id="menu_controller_container">
        <div class="menu_controller">
            <div class="lines">
                <hr class="_1 has_transition_600" />
                <hr class="_2 has_transition_600" />

            </div>
        </div>
    </div>
    <div id="menu_center_side" class="has_transition_1500">
        <div id="menu_logo">
            <img src="~/Template/images/logo_menu.png" style="width: 49px;" />
        </div>
        <div id="menu_scroller">
            <div class="track"></div>
            <div class="pointer scroll_transition">
              
            </div>
        </div>
    </div>
    <div id="book_side" class="has_transition_1500">
        <a href="tel:+84931801313">
            <p class="book_now">
                <img style="width: 30px" src="~/Template/images/icon-keep.png" />
            </p>
        </a>
    </div>
    <div id="player_side" class="has_transition_1500">
        <div class="audio_player">
            <div class="audio_stream audio_stream53">
                <canvas style="display: none" height="43" id="canvas"></canvas>
            </div>
            <div class="player_controls">
                <div class="button">
                    <img src="~/Template/images/play.png" />
                </div>
                <p class="audio_state">play</p>
            </div>

        </div>
    </div>
    <div id="player_side_2" class="has_transition_1500">
    </div>
</div>



