<div class="menu has_transition_1000 transform_only">
    <div class="panel_back has_transition_1000"></div>
    <div id="ca_home">
        <img class="has_transition_600 transform_all" width="28" style="opacity: 0.5;" src="~/Template/images/logo-soi.png" />
    </div>

    <div class="menu_panel_controller menu_controller has_transition_800" style="color: #ffffff;">
        <div class="burger__iJR12 loaded__2RjjS burger__mobile">
                                       
            <div class="_1 has_transition_800 one__3bfvM" style="background: #ffffff!important;"></div>
            <div class="_2 has_transition_800 two__37U_E" style="background: #ffffff!important;"></div>
            <div class="_3 has_transition_800 three__3fk-_" style="background: #ffffff!important;"></div>
         
        </div>
    </div>
</div>