<div id="side_mobile" class="has_transition_800 mobile_only hidden transform_all">
    <a class="btn-scroll-to-detail"><img class="logo_mobile" src="~/Template/images/logo_menu.png" /></a>
    @*<div class="menu_controller">
        <div class="lines">
            <hr class="_1"/>
            <hr class="_2"/>
           
        </div>
    </div>*@
    <div class="menu_controller menu_controller-silde-mobile has_transition_800"  id="menucontrol">
        <div class="burger__iJR12 loaded__2RjjS  ">

            <div class="_1 one__3bfvM cus1"></div>
            <div class="_2 two__37U_E cus2"></div>
            <div class="_3 three__3fk-_ cus3"></div>
            
        </div>


    </div>
    @*<a href="tel:0898131333" class="book_now">Keep in touch</a>*@
    <a href="@Url.Action("Index","Home")" class="book_now">

        <img src="~/Template/images/logo-mobile.png" width="80" />
    </a>
</div>